body{
    background-color: #101015;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252530;
    align-items: center;
    padding: 1vh;
    line-height: 6vh;
}
footer{
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #252530;

    line-height: 8vh;

}
main{
    height: 86vh;
    overflow-y: scroll;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size:4vh;
    margin-bottom: 2px;
}
#avatar{
    background-color: #7025c5;
    color: white;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    text-align: center;
}

#settings-button{
    color: white;
    width: 6vh;
    height: 6vh;
    text-align: center;
}

#speak-bubble{
    position:absolute;
    bottom: 4vh;
    left: auto;
    right: auto;
    background-color: #7025c5;
    color: white;
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    text-align: center;
    cursor: pointer;
}

#speak-bubble:hover > .icon{
    transform: scale(1.2);
}

.user-message {
  background-color: #7D4FFE;
 /* position: absolute;
  right: 10px;*/
  align-self: flex-end;
 

}
.assistant-message {
  background-color: #C49FFF;

}

.chat-bubble-text {
  color: white;
}

.chat-bubble {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    width:45%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
